@model TinyURL.ViewModels.URLMapViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if(ViewBag.EncodedURL != null && ViewBag.URL != null)
{
<div class="row">
    <div class="col-md-6">
        Actual URL: @ViewBag.URL
    </div>
    <div class="col-md-6">
        Encoded URL: <a href="@ViewBag.EncodedURL" target="_blank">@ViewBag.EncodedURL</a>
    </div>
</div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
